<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/query.css">
</head>
<body>
    <div class="page-container">
        <!-- header starts -->
        <header class="header" id="headers">
            <img src="img/logo.png" alt="logo" class="logo">
            <ul class="header-list">
                <li><a href="#">BESTÄLL</a></li>
                <li><a href="#">INSPIRATION</a></li>
                <li><a href="#">SUPPORT</a></li>
            </ul>
        </header>
        <!-- header ends -->

        <!-- hero-section -->
        <div class="hero">
            <div class="hero-img">
                <img src="img/hero-img.png" alt="">
            </div>

            <div class="refine-section">
                <div class="refine-box">
                    <img src="img/logo.png" alt="">
                    <h1>Refine</h1>
                    <p>[ruh-fain]<span>verb</span></p>
                    <h3>Hantverk online helt enkelt</h3>
                </div>
            </div>

            <div class="hero-box">
                <div class="hero-container">
                    <form>
                        <label for="cars">Vad vill du göra?</label>
                        <select name="cars" id="options" class="select-css">
                          <option value="Option 1">England</option>
                          <option value="Option 2">Option 2</option>
                          <option value="Option 3">Option 3</option>
                          <option value="Option 4">Option 4</option>
                        </select>
                        <br><br>
                        <!-- <input type="submit" value="Submit"> -->
                      </form>
                    <div class="hero-flex">
                        <div class="hero-images">
                            <img src="img/icon-1.png" alt="">
                            <img src="img/icon-2.png" alt="">
                            <img src="img/icon-3.png" alt="">
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <!-- hero-section-ends -->


        <!-- section-one -->
        <div class="section-1">
            <div class="section-1-left">
                <img src="img/section-img.png" alt="">
            </div>
            <div class="section-1-right">
                <h1>Hur fungerar Refine</h1>
                <p>Refine kommer öka tilliten till yrket hantverkare 
                    och modernisera branschen gällande IT, hållbarhet 
                    och service. Med transparensen & tekniken 
                    internet givit oss vill vi nu erbjuda er det bästa av 
                    byggbranschen 2021.</p>
    
                <!-- <video src="media/VID-20210402-WA0158.mp4" poster="img/thumbnail.png" autoplay>
                </video> -->
                <video poster="img/thumbnail.png" controls muted autoplay="autoplay">
                    <source src="media/VID-20210402-WA0158.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <!-- section-one-ends -->


        <!-- section-two -->
        <div class="section-2">
            <h1>People are talking</h1>

            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/resized.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/slide-2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/slide-3.jpeg" alt="">
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

            <div class="testimonial-box">
                <div class="testimonial-container">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p><q>“Refine har skräddarsytt team ur bygg & IT-bransc, vi vet vilka problem vi byggerenörer ställs inför i daglig verksamhet.”</q></p>
                    <h2>Marlo Rossi</h2>
                </div>
                
            </div>
        </div>
        <!-- section-two-ends -->

        <!-- section-three -->
        <div class="section-3">
            <div class="section-3-left">
                <div class="left-image">
                    <img src="img/entre.png" alt="">
                </div>
                <div class="left-header">
                    <h1>8 Entrepr<span id="span">enörskrav</span></h1>
                </div>
                <div class="left-text">
                    <ol>
                        <li>Entreprenören arbetar enligt kollektivavtalade villkor</li>
                        <li>Företaget har dokumenterade rutiner</li>
                        <li>Företaget har systematisk avvikelseuppföljning</li>
                        <li>Företaget är svenskregistrerat</li>
                        <li>Företaget följer gällande lagar, regler & branschkrav</li>
                        <li>Företaget följer gällande arbetsmiljölagar, respekterar fackliga representanter och arbetar med schyssta villkor för alla. Samt har noll tolerans mot diskriminering & kränkning på arbetsplatser och i alla processer
                        </li>
                        <li> Företaget har F-skatt</li>
                        <li>Företaget har ansvarsförsäkring & försäkring för personal</li>
                    </ol>
                </div>
            </div>
            <div class="section-3-right">
                <div class="right-container">
                    <h1>Våra Entreprenörer</h1>
                    <p>Refine har skraddarsytt team ur bygg & IT-bransc, vi vet vilka problem vi byggerenorer stalls infor i daglig verksamhet. Refine mojliggor for entreprenorer att lagga tid pa det dem ar bast pa: hantverket.</p>
                </div>
                
            </div>

            <div class="nav-icon">
                <a href="#headers"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            </div>
        </div>
        <!-- section-three-ends -->
        
        <!-- footer -->
        <div class="section-4">
            <footer>
                <div class="footer-box">
                    <div class="footer-left">
                        <h1>Refine</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        <div class="footer-icons">
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="footer-right">
                        <div class="footer-nav">
                            <ul>
                                <li><a href="#">Om oss</a></li>
                                <li><a href="#">Allmänna villkor</a></li>
                                <li><a href="#">Integritetsskyddspolicy</a></li>
                                <li><a href="#">Cookiepolicy</a></li>
                            </ul>
                            
                        </div>
                        <div class="footer-form">
                            <form>
                                <select name="cars" id="options" class="footer-select">
                                  <option value="Option 1">Italian</option>
                                  <option value="Option 2">Spanish</option>
                                  <option value="Option 3">Polish</option>
                                  <option value="Option 4">English</option>
                                </select>
                            </form>
                        </div>
                       
                        <div class="designed-by">
                            <small>DESIGN BY PATRIZIO VALENTE &#169; 2020-2021 <span style="font-weight: bolder;">Refine</span> All Rights Reserved Mallack</small>
                        </div>
                    </div>
                </div>
            </footer>
        </div> 
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        });
    </script>
    
</body>
</html>